.hide {
  display: none;
}
#media-upload {
  background-color: #fff;
  padding: 10px 20px;
}
.galleryThumb {
  display: inline-block;
  position: relative;
  padding: 0px;
  margin: 5px;
}
.orderer {
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  width: auto;
  top: 5px;
  right: 5px;
  color: #fff;
  padding: 0px;
}
.orderer div:not(.order) {
  font-family: "dashicons";
}
div.gHEditor {
  /* @todo border: solid 1px #333;*/
}
div.gHEditor > div,
div.gHEditor > table {
  /* Data container */
  display: inline-block;
  vertical-align: middle;
}
div.gHEditor > div {
  padding: 10px;
}
div.gHEditor > table {
  margin: 10px;
}
div.gHEditor > table th,
div.gHEditor > table td {
  text-align: left;
}
div.gHEditor > table th {
  text-align: left;
}
div.gHEditor > table a {
  margin-right: 10px;
}
div.gHBrowser div.tablenav input[type=number] {
  width: 8ch;
}
div.gHBrowser div.tablenav > div,
div.gHBrowser div.tablenav > span {
  display: inline-block;
  margin-right: 10px;
}
div.gHBrowser div.tablenav .drop {
  position: relative;
  cursor: pointer;
  /** @todo FIX */
}
div.gHBrowser div.tablenav .drop > ul {
  position: absolute;
  z-index: 10;
  margin: 0px;
  padding: 5px;
  background-color: #fff;
  border: solid 1px #000;
  display: none;
}
div.gHBrowser div.tablenav .drop li {
  white-space: nowrap;
}
div.gHBrowser div.tablenav .drop:hover > ul,
div.gHBrowser div.tablenav .drop:focus > ul {
  display: block;
}
div.gHBrowser div.browser div.file {
  display: inline-block;
  position: relative;
  margin: 5px;
}
div.gHBrowser div.browser div.file .exclude,
div.gHBrowser div.browser div.file .select {
  font-family: "dashicons";
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  width: 30px;
  height: 30px;
  opacity: 0.1;
  filter: alpha(opacity=10);
  bottom: 5px;
}
div.gHBrowser div.browser div.file .exclude {
  left: 5px;
  color: #F00;
}
div.gHBrowser div.browser div.file .select {
  right: 5px;
  color: #0F0;
}
div.gHBrowser div.browser div.file .exclude:before {
  content: "\f153";
}
div.gHBrowser div.browser div.file .select:before {
  content: "\f502";
}
div.gHBrowser div.browser div.file .orderer div {
  display: inline-block;
  opacity: 0.1;
  filter: alpha(opacity=10);
  margin: 0px 2px;
}
div.gHBrowser div.browser div.file .orderer .up,
div.gHBrowser div.browser div.file .orderer .down,
div.gHBrowser div.browser div.file .orderer .order {
  font-weight: bold;
  font-size: 30px;
}
div.gHBrowser div.browser div.file .orderer .up,
div.gHBrowser div.browser div.file .orderer .down {
  font-family: "dashicons";
  width: 30px;
  height: 30px;
}
div.gHBrowser div.browser div.file .orderer .up:before {
  content: "\f341";
}
div.gHBrowser div.browser div.file .orderer .down:before {
  content: "\f345";
}
div.gHBrowser div.browser div.file .orderer div,
div.gHBrowser div.browser div.file:hover .exclude,
div.gHBrowser div.browser div.file:hover .select {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
div.gHBrowser div.browser div.file .orderer .order,
div.gHBrowser div.browser div.file:hover .orderer:hover div:not(.order):hover,
div.gHBrowser div.browser div.file:hover .exclude:hover,
div.gHBrowser div.browser div.file:hover .select:hover {
  cursor: pointer;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
div.gHBrowser div.browser div.file.selected .select,
div.gHBrowser div.browser div.file.excluded .exclude {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
div.gHBrowser div.browser div.file:not(.selected) .orderer {
  display: none;
}
div.gHBrowser:not(.builderOn) div.browser div.file .select {
  color: #FF0;
}
div.gHBrowser:not(.builderOn) div.browser div.file .orderer {
  display: none;
}
div.fBacking {
  display: table;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.4);
}
div.fBacking > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
div.fBacking > div > div {
  display: inline-block;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #444;
  padding: 0px 20px;
}
div.fBacking > div > div .close,
div.fBacking > div > div .left,
div.fBacking > div > div .right {
  cursor: pointer;
  position: absolute;
}
div.fBacking > div > div .close:before,
div.fBacking > div > div .left:before,
div.fBacking > div > div .right:before {
  color: #333;
  font-family: "dashicons";
  font-weight: bold;
}
div.fBacking > div > div .close:before:hover,
div.fBacking > div > div .left:before:hover,
div.fBacking > div > div .right:before:hover {
  color: #000;
}
div.fBacking > div > div .close {
  right: 2px;
  top: 2px;
}
div.fBacking > div > div .close:before {
  content: "\f158";
}
div.fBacking > div > div .left {
  top: 50%;
  left: 2px;
}
div.fBacking > div > div .right {
  top: 50%;
  right: 2px;
}
div.fBacking > div > div .left:before {
  font-size: 2em;
  content: "\f341";
}
div.fBacking > div > div .right:before {
  font-size: 2em;
  content: "\f345";
}
